In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
data_location = r"C:\Users\andre\Desktop\Project"
data_location

'C:\\Users\\andre\\Desktop\\Project'

In [3]:
desired_heading =[ 'Valuable Information']
desired_heading

['Valuable Information']

In [4]:
df_total = pd.DataFrame(columns = desired_heading)
df_total

Empty DataFrame
Columns: [Valuable Information]
Index: []

In [6]:
for file in os.listdir(data_location):
    df_file = pd.read_excel(data_location + '\\'+ file)
    selected_columns = df_file.loc[:, desired_heading]
    df_total = pd.concat([selected_columns, df_total], ignore_index=True)

In [7]:
df_total.to_excel('Valuable Information.xlsx')

In [8]:
df_total

   Valuable Information
0                     1
1                     2
2                     3
3                     4
4                     5
5                     6
6                     7
7                     8
8                     9
9                    10
10                    1
11                    2
12                    3
13                    4
14                    5
15                    6
16                    7
17                    8
18                    9
19                   10
20                    1
21                    2
22                    3
23                    4
24                    5
25                    6
26                    7
27                    8
28                    9
29                   10
30                    1
31                    2
32                    3
33                    4
34                    5
35                    6
36                    7
37                    8
38                    9
39                   10